* {
	border: 1px red solid;
}
body {
	margin: 0;
	font-family: Arial, sans-serif;
	padding-top: 200px;
	background: rgb(189,198,255);
	background: linear-gradient(45deg, rgba(189,198,255,1) 0%, rgba(194,218,255,1) 33%, rgba(195,239,255,1) 67%, rgba(205,255,252,1) 100%);
}
.header {
	width: 100%;
	height: 150px;
	background-color: #b6fffa;
	color: black;
	position: fixed;
	top: 0;
	transition: top 0.4s;
	z-index: 1000;
}
.header-content {
	width: 80%;
	margin: 0 auto;
	padding: 20px 0;
}
.navbar {
	width: 100%;
	height: 50px;
	background-color: #98e4ff; /* Navbar background color */
	color: #000000;
	position: fixed;
	top: 150px; /* Displayed below the header initially */
	transition: top 0.4s;
	display: flex;
	align-items: center;
	justify-content: right;
}
.navbar-content {
	margin: 5px;
}
nav {
	float: right;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline-block;
	position: relative;
}

nav ul li a {
	display: block;
	padding: 10px;
	color: #000000;
	text-decoration: none;
}
nav ul li a:hover {
	border-radius: 7px;
	box-shadow: 2px 2px 3px black;
	transition: 1s;
}
nav ul ul {
	display: none;
	position: absolute;
	color: white;
	min-width: 150px;
	z-index: 1001;
}
nav ul li:hover > ul {
	display: block;
	color: white;
}
nav ul ul li {
	display: block;
}
nav ul ul li a {
	padding: 10px 15px;
	 border-radius:7px ;
	background-color: beige;
	margin: 10px;
}
.row > .column {
	padding: 0 4px;
  }
  
  
  
  .column {
	float: left;
	width: 25%;
	width: 70px;
	position: relative;
	margin: 50px;
  }
  img{
	width: 70px;
  }
  img.hover-shadow {
	transition: 0.3s;
  }
  
  .hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }



.container {
	max-width: 1400px;
	padding: 0 15px;
	margin: 0 auto;
  }
  
  h2 {
	font-size: 32px;
	margin-bottom: 1em;
  }
  
  .cards {
	display: flex;
	padding: 25px 0px;
	list-style: none;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
  }
  
  .card {
	display: flex;
	flex-direction: column;
	flex: 0 0 100%;
	padding: 20px;
	background: var(--white);
	border-radius: 12px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
	scroll-snap-align: start;
	transition: all 0.2s;
  }
  
  .card:not(:last-child) {
	margin-right: 10px;
  }
  
  .card:hover {
	color: white;
	background:black;
  }
  
  .card .card-title {
	font-size: 20px;
  }
  
  .card .card-content {
	margin: 20px 0;
	max-width: 85%;
  }
  
  .card .card-link-wrapper {
	margin-top: auto;
  }
  
  .card .card-link {
	display: inline-block=;
	text-decoration: none;
	color: rgb(255, 255, 255);
	background: rgb(0, 0, 0);
	padding: 6px 12px;
	border-radius: 8px;
	transition: background 0.2s;
  }
  
  .card:hover .card-link {
	background: white;
	color: #000000;
  }
  
  .cards::-webkit-scrollbar {
	height: 12px;
  }
  
  .cards::-webkit-scrollbar-thumb,
  .cards::-webkit-scrollbar-track {
	border-radius: 92px;
  }
  
  .cards::-webkit-scrollbar-thumb {
	background: var(--darkred);
  }
  
  .cards::-webkit-scrollbar-track {
	background: var(--thumb);
  }
  
  @media (min-width: 500px) {
	.card {
	  flex-basis: calc(50% - 10px);
	}
  
	.card:not(:last-child) {
	  margin-right: 20px;
	}
  }
  
  @media (min-width: 700px) {
	.card {
	  flex-basis: calc(calc(100% / 3) - 20px);
	}
  
	.card:not(:last-child) {
	  margin-right: 30px;
	}
  }
  
  @media (min-width: 1100px) {
	.card {
	  flex-basis: calc(25% - 30px);
	}
  
	.card:not(:last-child) {
	  margin-right: 40px;
	}
  }
  
  